#post-body .misc-pub-pickle-twitter:before {
    font: normal 20px/1 dashicons;
    speak: none;
    display: inline-block;
    margin-left: -1px;
    padding-right: 3px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #82878c;
    content: "\f301";
}

.edit-pickle-twitter-text {
    display: inline;
    margin-left: 5px;
}

#pickle-twitter-text-wrap {
    display: none;
    margin-top: 3px;
}